.bt {
  height: 80px;
  width: 80px;
  color: red;
  font-weight: bold;
  font-size: 5rem;
  line-height: 5rem;
  box-shadow: 0px 0px 8px gray;
}

.bt:hover {
  box-shadow: 0px 0px 15px gray;
}
.row {
  padding-top: 100px;
  padding-left: 35%;
  padding-right: 35%;
}
.x {
  color: red;
}
.o {
  color: green;
}
